<div class="jumbotron">

    <h1>Common errors in rails</h1>
    <p>Track and document all common errors you come across while working with Ruby on rails.</p>
</div>
  
  
    <div class="index-title">
      <h3>New Errors
        <% if user_signed_in? %>
        <%= link_to 'Categories', '#', class: "btn btn-primary btn-md" %>
        <%= link_to "Post new Error", new_common_error_path, class: "btn btn-primary btn-md" %></h3>
      <% end %>
    </div>

        <% @common_errors.each do |title| %>
    <div class="index-title">
        <h3><%= link_to title.error_msg, title %></h3>
        <P class="postby">Posted <%= time_ago_in_words title.created_at %> ago </p>
    </div>  
      <% end %>



